<!-- Terminal -->
<div class="terminal center">
  <p><span>~ ➜ : </span>cat sobre.txt</p>
  <p>
    Este sistema foi feito por Fernando Gustavo Sckio para o teste de seleção da
    Tria Software.<br />
    Gostou do meu trabalho? Me acompanhe no LinkedIn:
    <a
      class="link"
      aria-label="Sckio no LinkedIn"
      target="_blank"
      rel="noopener"
      href="https://linkedin.com/in/Sckio"
      title="LinkedIn"
    >
      'https://linkedin.com/in/Sckio'
      <img width="16" alt="LinkedIn Logo" src="../assets/linkedin_logo.png" />
    </a>
  </p>
  <p><span>~ ➜ : </span></p>
</div>